body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana,     sans-serif;
    color: #363636;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    /* To hide contents until after load */
    opacity: 0;
    -webkit-transition: opacity 0.1s ease-in;
       -moz-transition: opacity 0.1s ease-in;
        -ms-transition: opacity 0.1s ease-in;
         -o-transition: opacity 0.1s ease-in;
            transition: opacity 0.1s ease-in;
}

body.load {
    opacity: 1;
}

body a {
    color: black;
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

/* ONLOAD EASE IN ANIMATION STYLING */

.load-fadein {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in;
       -moz-transition: opacity 0.3s ease-in;
        -ms-transition: opacity 0.3s ease-in;
         -o-transition: opacity 0.3s ease-in;
            transition: opacity 0.3s ease-in;
}

.load-fadein.load {
    opacity: 1;
}

/* SIDEBAR & NAV STYLING */

sidebar {
    position: fixed;
    top: 10vw;
    left: 12vw;
    width: 275px;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;

    text-align: right;
    font-size: 16px;

    z-index: 1001;
}

sitetitle {
    padding-top: 5vw;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 27px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: right;
    /* color: #22be70; */
}

sitetitle a:hover {
    text-decoration: none;
}

/* #ell {
    color: #22be70;
} */

desc {
    padding: 30px 0;
    font-weight: 300;
}

navmenu {
    display: flex;
    flex-direction: column;
}

navmenu a {
    padding: 5px 0;

    font-family: 'Lato';
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: black;
}

/* LEFT PANE (MAIN) STYLING */

maingrid {
    position: absolute;
    top: 0;
    right: 10vw;
    padding: 10vw 5vw;
    display: grid;
    grid-template-columns: repeat(2, 350px);
    grid-auto-columns: auto;
    grid-gap: 5vw;
}

maingrid > a {
    text-decoration: none;
}

maingrid > a:hover {
    text-decoration: none;
}

.maingrid-item {
    position: relative;
    width: 350px;
    height: calc(350px * 5/4);
    border: none;  
    background: #ffffff;
    box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.maingrid-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
}

.maingrid-caption {
    background: #fff;
    color: black;
    padding: 1vw;
    z-index: 1000;
}

.maingrid-caption > h1 {
    font-size: 25px;
    font-weight: 500;
    text-transform: none;
    color: #363636;
    margin: 0.5vw 0;
}

.maingrid-caption > p {
    color: #5e5e5e;
    margin: 0.5vw 0;
}

tags {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

tags > * {
    color: black;
    margin: 5px 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Lato';
    letter-spacing: 1px;
    font-weight: 600;
}

tags > *:first-child {
    margin-left: 0;
}

tags > *:last-child {
    margin-right: 0;
}

/* CONTENT PAGE STYLING */

maincontent {
    /* margin: 5vw;
    padding: 10vw 5vw; */
    position: absolute;
    top: 0;
    right: 10vw;
    padding: 10vw 5vw;
    width: 45vw;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

maincontent a {
    color: black;
    text-decoration: underline;
}

maincontent h1 {
    font-size: 40px;
    font-weight: 500;
    margin: 3vw 0;
    letter-spacing: 1px;
}

maincontent h2 {
    margin-top: 7vw;
    margin-bottom: 1vw;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
}

maincontent p {
    color: #5e5e5e;
    line-height: 1.2em;
}

maincontent ul {
    margin-top: 0;
    color: inherit;
}

maincontent li {
    color: #5e5e5e;
    margin: 0.5em;
}

maincontent img {
    margin: 2vw;
    max-width: 40vw;
    height: auto;
    align-self: center;
}

maincontent .image-set {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 15px;
    text-align: center;
    color: #666666;
    font-weight: 300;
    font-size: 14px;
}

maincontent .image-set.one-col {
    grid-template-columns: 1fr;
}

maincontent .image-set img {
    margin: 2vw;
    margin-bottom: 0;
    max-width: 20vw;
}

maincontent .image-set.one-col img {
    max-width: 40vw;
}

maincontent .image-set .caption {
    margin: 1vw 2vw;
    margin-bottom: 2vw;
}

/* RESPONSIVE STYLING */

@media (max-width: 1500px) {
    maingrid {
        grid-template-columns: 350px;
    }

    sidebar {
        left: 5vw;
    }
}

@media (max-width: 900px) {
    maingrid {
        position: static;
    }

    sidebar {
        position: static;
    }

    maincontent {
        position: static;
        width: 90vw;
    }

    maincontent img {
        max-width: 80vw;
    }
}